# URL Backend DifaMap Express API (pada production di Vercel, ganti dengan URL backend yang aktif di Railway/Render/dll)
NEXT_PUBLIC_API_URL="http://localhost:4000"

# Supabase Project Credentials
NEXT_PUBLIC_SUPABASE_URL="https://tahxvguztbgijdemabiu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# Default Basemap MAPID (satellite / basic / dark / light)
NEXT_PUBLIC_MAPID_STYLE_ID="basic"
